# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
#  Usually contains the executable result of a PyInstaller build
dist/
build/
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pylint
.pylint.d/

# Pyre type checker
.pyre/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
